.notification__wrapper {
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 99999;
}
.notification__item {
	position: relative;
	background: var(--notification-color-item);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 20px;
	animation: SlideLeft 0.4s;
	animation-fill-mode: forwards;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	padding: 20px 16px 20px 0;
}
@keyframes SlideLeft {
	0% {
		margin-left: 120%;
	}
	100% {
		margin-left: 0;
	}
}
@keyframes SlideRight {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: 120%;
	}
}
.notification__exit {
	animation: SlideRight 0.4s;
	animation-fill-mode: forwards;
}
.notification__content {
	margin-left: 16px;
	margin-right: 12px;
}
.notification__close {
	width: 32px;
	height: 32px;
	border: 1px solid var(--notification-color-border-close);
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.notification__close:hover .notification__closeIcon::before,
.notification__close:hover .notification__closeIcon::after {
	background-color: var(--notification-color-close-hover);
}
.notification__closeIcon::before,
.notification__closeIcon::after {
	position: absolute;
	display: block;
	content: '';
	height: 2px;
	width: 16px;
	background-color: var(--notification-color-close);
	border: 2px;
	top: 50%;
	left: 50%;
	transition: all 0.3s ease-in-out;
}
.notification__closeIcon::before {
	transform: translateX(-50%) rotate(-45deg);
}
.notification__closeIcon::after {
	transform: translateX(-50%) rotate(45deg);
}
.notification__bar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	border-radius: 4px;
}
.notification__border {
	width: 8px;
	height: 100%;
	position: absolute;
}
.notification__success .notification__border,
.notification__success .notification__bar {
	background-color: var(--notification-color-success);
}

.notification__error .notification__border,
.notification__error .notification__bar {
	background-color: var(--notification-color-error);
}
.notification__warring .notification__border,
.notification__warring .notification__bar {
	background-color: var(--notification-color-warning);
}
.notification__info .notification__border,
.notification__info .notification__bar {
	background-color: var(--notification-color-info);
}
