.container {
	position: relative;
	font-family: var(--button-font-family);
	font-weight: var(--button-font-weight);
	letter-spacing: var(--button-letter-spacing);
	cursor: pointer;
	margin: 0;
	text-decoration: none;
	border: none;
	border-radius: var(--button-radius);
	outline: none;
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	vertical-align: middle;
	user-select: none;
	white-space: nowrap;
	transition: all ease-in-out 0.3s;
}
.small {
	font-size: 12px;
	line-height: 16px;
	padding: 6px 12px;
}
.medium {
	font-size: 16px;
	line-height: 20px;
	padding: 8px 16px;
}
.large {
	font-size: 20px;
	line-height: 24px;
	padding: 12px 24px;
}
.primary {
	color: var(--button-primary-text);
	background-color: var(--button-primary-base);
}
.primary:hover {
	color: var(--button-primary-hover-text);
	background-color: var(--button-primary-hover-base);
}
.primary:focus {
	color: var(--button-primary-focus-text);
	background-color: var(--button-primary-focus-base);
}
.primary:activ {
	color: var(--button-primary-activ-text);
	background-color: var(--button-primary-activ-base);
}
/**********/
.secondary {
	color: var(--button-secondary-text);
	background-color: var(--button-secondary-base);
	border: 1px solid var(--button-secondary-border);
}
.secondary:hover {
	color: var(--button-secondary-hover-text);
	background-color: var(--button-secondary-hover-base);
	border: 1px solid var(--button-secondary-hover-border);
}
.secondary:focus {
	color: var(--button-secondary-focus-text);
	background-color: var(--button-secondary-focus-base);
	border: 1px solid var(--button-secondary-focus-border);
}
.secondary:activ {
	color: var(--button-secondary-activ-text);
	background-color: var(--button-secondary-activ-base);
	border: 1px solid var(--button-secondary-activ-border);
}

/***********/
.text {
	height: 100%;
	color: var(--button-text-text);
	background-color: var(--button-text-base);
}
.text:hover {
	color: var(--button-text-hover-text);
	background-color: var(--button-text-hover-base);
}
.text:focus {
	color: var(--button-text-focus-text);
	background-color: var(--button-text-focus-base);
}
.text:activ {
	color: var(--button-text-activ-text);
	background-color: var(--button-text-activ-base);
}

/********/
.danger {
	color: var(--button-danger-text);
	background-color: var(--button-danger-base);
}
.danger:hover {
	color: var(--button-danger-hover-text);
	background-color: var(--button-danger-hover-base);
}
.danger:focus {
	color: var(--button-danger-focus-text);
	background-color: var(--button-danger-focus-base);
}
.danger:activ {
	color: var(--button-danger-activ-text);
	background-color: var(--button-danger-activ-base);
}
/********/
.disabled {
	cursor: default;
	color: var(--button-disabled-text);
	background-color: var(--button-disabled-base);
	cursor: not-allowed;
}
.disabled:hover {
	color: var(--button-disabled-hover-text);
	background-color: var(--button-disabled-hover-base);
}
.disabled:focus {
	color: var(--button-disabled-focus-text);
	background-color: var(--button-disabled-focus-base);
}
.disabled:activ {
	color: var(--button-disabled-activ-text);
	background-color: var(--button-disabled-activ-base);
}
/* .loading {
	margin-right: 4px;
	width: 12px;
	height: 12px;
	display: block;
	border-left: 1px solid var(--button-loading);
	border-top: 1px solid var(--button-loading);
	border-radius: 50%;
	animation: Rotating 1s infinite linear;
}
@keyframes Rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
} */
