.root {
	--name: dark;
	--font-family: PT Astra Sans, sans-serif;
	--font-size: 16px;
	--font-weight: 400;
	--line-height: 20px;
	--transition: 0.3s;
	--grid-gutter: 16px;
	--grid-sm: 576px;
	--grid-md: 768px;
	--grid-lg: 992px;
	--grid-xl: 1200px;
	--grid-xll: 1400px;
	--typography-font-family-heading: PT Astra Sans;
	--typography-font-weight-heading: 700;
	--typography-font-family-body: PT Astra Sans;
	--typography-font-weight-body: 400;
	--typography-color-accent: #00acc1;
	--typography-color-text: #212121;
	--typography-color-secondary: #757575;
	--typography-h1-size: 40px;
	--typography-h1-height: 48px;
	--typography-h2-size: 32px;
	--typography-h2-height: 40px;
	--typography-h3-size: 28px;
	--typography-h3-height: 32px;
	--typography-h4-size: 24px;
	--typography-h4-height: 28px;
	--typography-h5-size: 20px;
	--typography-h5-height: 24px;
	--typography-h6-size: 16px;
	--typography-h6-height: 20px;
	--typography-p-size: 16px;
	--typography-p-height: 24px;
	--typography-caption-size: 16px;
	--typography-caption-height: 24px;
	--typography-letter-spacing-heading: 0.5px;
	--typography-letter-spacing-body: 1px;
	--pagination-font-family: PT Astra Sans;
	--pagination-font-size: 16px;
	--pagination-font-weight: 400;
	--pagination-line-height: 20px;
	--pagination-colors-base: #212121;
	--pagination-colors-hover: #bdbdbd;
	--notification-color-item: #fafafa;
	--notification-color-title: #212121;
	--notification-color-message: #212121;
	--notification-color-close: #bdbdbd;
	--notification-color-border-close: #bdbdbd;
	--notification-color-close-hover: #757575;
	--notification-color-success: #66bb6a;
	--notification-color-error: #ef5350;
	--notification-color-warning: #ffa726;
	--notification-color-info: #42a5f5;
	--avatar-size-small: 44px;
	--avatar-size-medium: 88px;
	--avatar-size-large: 176px;
	--avatar-font-family: PT Astra Sans;
	--avatar-font-weight: 400;
	--avatar-symbol-small: 18px;
	--avatar-symbol-medium: 24px;
	--avatar-symbol-large: 36px;
	--avatar-check-online-small: 6px;
	--avatar-check-online-medium: 10px;
	--avatar-check-online-large: 16px;
	--avatar-check-online-background-small: 8px;
	--avatar-check-online-background-medium: 12px;
	--avatar-check-online-background-large: 20px;
	--avatar-color-text: #212121;
	--avatar-color-check-online: #66bb6a;
	--avatar-color-check-online-background: #f5f5f5;
	--radius: 4px;
	--blur: 16px;
}
