.root {
	--name: light;
	--font-family: PT Astra Sans, sans-serif;
	--font-size: 16px;
	--font-weight: 400;
	--line-height: 20px;
	--transition: 0.3s;
	--grid-gutter: 16px;
	--grid-sm: 576px;
	--grid-md: 768px;
	--grid-lg: 992px;
	--grid-xl: 1200px;
	--grid-xxl: 1400px;
	--typography-font-family-heading: PT Astra Sans;
	--typography-font-weight-heading: 700;
	--typography-font-family-body: PT Astra Sans;
	--typography-font-weight-body: 400;
	--typography-color-accent: #00acc1;
	--typography-color-text: #212121;
	--typography-color-secondary: #757575;
	--typography-h1-size: 40px;
	--typography-h1-height: 48px;
	--typography-h2-size: 32px;
	--typography-h2-height: 40px;
	--typography-h3-size: 28px;
	--typography-h3-height: 32px;
	--typography-h4-size: 24px;
	--typography-h4-height: 28px;
	--typography-h5-size: 20px;
	--typography-h5-height: 24px;
	--typography-h6-size: 16px;
	--typography-h6-height: 20px;
	--typography-p-size: 16px;
	--typography-p-height: 24px;
	--typography-caption-size: 16px;
	--typography-caption-height: 24px;
	--typography-letter-spacing-heading: 0.5px;
	--typography-letter-spacing-body: 1px;
	--pagination-font-family: PT Astra Sans;
	--pagination-font-size: 16px;
	--pagination-font-weight: 400;
	--pagination-line-height: 20px;
	--pagination-colors-base: #212121;
	--pagination-colors-hover: #eeeeee;
	--notification-color-item: #fafafa;
	--notification-color-title: #212121;
	--notification-color-message: #212121;
	--notification-color-close: #bdbdbd;
	--notification-color-border-close: #bdbdbd;
	--notification-color-close-hover: #757575;
	--notification-color-success: #66bb6a;
	--notification-color-error: #ef5350;
	--notification-color-warning: #ffa726;
	--notification-color-info: #42a5f5;
	--avatar-size-wrapper-small: 48px;
	--avatar-size-wrapper-medium: 92px;
	--avatar-size-wrapper-large: 184px;
	--avatar-size-small: 44px;
	--avatar-size-medium: 88px;
	--avatar-size-large: 176px;
	--avatar-font-family: PT Astra Sans;
	--avatar-font-weight: 400;
	--avatar-symbol-small: 20px;
	--avatar-symbol-medium: 32px;
	--avatar-symbol-large: 48px;
	--avatar-check-online-small: 6px;
	--avatar-check-online-medium: 10px;
	--avatar-check-online-large: 16px;
	--avatar-check-online-background-small: 8px;
	--avatar-check-online-background-medium: 12px;
	--avatar-check-online-background-large: 20px;
	--avatar-color-text: #212121;
	--avatar-color-wrapper: #fafafa;
	--avatar-color-add: #4caf50;
	--avatar-color-check-online: #4caf50;
	--avatar-color-check-online-background: #fafafa;
	--button-font-family: PT Astra Sans;
	--button-font-weight: 400;
	--button-letter-spacing: 1px;
	--button-radius: 4px;
	--button-loading: #616161;
	--button-primary-text: #fafafa;
	--button-primary-base: #00897b;
	--button-primary-hover-text: #fafafa;
	--button-primary-hover-base: #26a69a;
	--button-primary-focus-text: #fafafa;
	--button-primary-focus-base: #00796b;
	--button-primary-activ-text: #fafafa;
	--button-primary-activ-base: #00796b;
	--button-secondary-text: #00897b;
	--button-secondary-base: #fafafa;
	--button-secondary-border: #00897b;
	--button-secondary-hover-text: #fafafa;
	--button-secondary-hover-base: #00897b;
	--button-secondary-hover-border: #00897b;
	--button-secondary-focus-text: #fafafa;
	--button-secondary-focus-base: #00796b;
	--button-secondary-focus-border: #00796b;
	--button-secondary-activ-text: #fafafa;
	--button-secondary-activ-base: #00796b;
	--button-secondary-activ-border: #00796b;
	--button-text-text: #00897b;
	--button-text-base: #fafafa;
	--button-text-hover-text: #00897b;
	--button-text-hover-base: #f5f5f5;
	--button-text-focus-text: #00897b;
	--button-text-focus-base: #eeeeee;
	--button-text-activ-text: #00897b;
	--button-text-activ-base: #eeeeee;
	--button-disabled-text: #bdbdbd;
	--button-disabled-base: #f5f5f5;
	--button-disabled-hover-text: #bdbdbd;
	--button-disabled-hover-base: #f5f5f5;
	--button-disabled-focus-text: #bdbdbd;
	--button-disabled-focus-base: #f5f5f5;
	--button-disabled-activ-text: #bdbdbd;
	--button-disabled-activ-base: #f5f5f5;
	--button-danger-text: #fafafa;
	--button-danger-base: #f44336;
	--button-danger-hover-text: #fafafa;
	--button-danger-hover-base: #ef5350;
	--button-danger-focus-text: #fafafa;
	--button-danger-focus-base: #e53935;
	--button-danger-activ-text: #fafafa;
	--button-danger-activ-base: #e53935;
	--zoom-image-base: #fafafa;
	--input-font-family: PT Astra Sans;
	--input-font-weight: 400;
	--input-color-label: #212121;
	--input-color-input: #212121;
	--input-color-border-input: #bdbdbd;
	--input-color-focus: #00897b;
	--input-color-placeholder: #bdbdbd;
	--input-color-success: #66bb6a;
	--input-color-error: #d32f2f;
	--tags-color-text: #212121;
	--tags-color-default: #e0e0e0;
	--tags-color-activ: #00897b;
	--image-color-bg: #fafafa;
	--slider-before-after-colors-slider: #fafafa;
	--slider-before-after-colors-arrows: #212121;
	--radius: 4px;
	--blur: 16px;
}
