.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}
.overline {
	text-decoration: overline;
}
.underline {
	text-decoration: underline;
}
.lineThrough {
	text-decoration: line-through;
}
.normal {
	font-style: normal;
}
.italic {
	font-style: italic;
}
.oblique {
	font-style: oblique;
}
.accent {
	color: var(--typography-color-accent);
}
.secondary {
	color: var(--typography-color-secondary);
}
.text {
	color: var(--typography-color-text);
}
.h1 {
	font-family: var(--typography-font-family-heading);
	font-weight: var(--typography-font-weight-heading);
	font-size: var(--typography-h1-size);
	letter-spacing: var(--typography-letter-spacing-heading);
	line-height: var(--typography-h1-height);
	border: none;
	outline: none;
}
.h2 {
	font-family: var(--typography-font-family-heading);
	font-weight: var(--typography-font-weight-heading);
	font-size: var(--typography-h2-size);
	letter-spacing: var(--typography-letter-spacing-heading);
	line-height: var(--typography-h2-height);
	border: none;
	outline: none;
}
.h3 {
	font-family: var(--typography-font-family-heading);
	font-weight: var(--typography-font-weight-heading);
	letter-spacing: var(--typography-letter-spacing-heading);
	font-size: var(--typography-h3-size);
	line-height: var(--typography-h3-height);
	border: none;
	outline: none;
}
.h4 {
	font-family: var(--typography-font-family-heading);
	font-weight: var(--typography-font-weight-heading);
	font-size: var(--typography-h4-size);
	letter-spacing: var(--typography-letter-spacing-heading);
	line-height: var(--typography-h4-height);
	border: none;
	outline: none;
}
.h5 {
	font-family: var(--typography-font-family-heading);
	font-weight: var(--typography-font-weight-heading);
	font-size: var(--typography-h5-size);
	letter-spacing: var(--typography-letter-spacing-heading);
	line-height: var(--typography-h5-height);
	border: none;
	outline: none;
}
.h6 {
	font-family: var(--typography-font-family-heading);
	font-weight: var(--typography-font-weight-heading);
	font-size: var(--typography-h6-size);
	letter-spacing: var(--typography-letter-spacing-heading);
	line-height: var(--typography-h6-height);
	border: none;
	outline: none;
}
.p {
	font-family: var(--typography-font-family-body);
	font-weight: var(--typography-font-weight-body);
	font-size: var(--typography-p-size);
	letter-spacing: var(--typography-letter-spacing-body);
	line-height: var(--typography-p-height);
	border: none;
	outline: none;
}
.caption {
	font-family: var(--typography-font-family-body);
	font-weight: var(--typography-font-weight-heading);
	font-size: var(--typogrsphy-caption-size);
	letter-spacing: var(--typography-letter-spacing-body);
	line-height: var(--typography-caption-height);
	font-style: italic;
	border: none;
	outline: none;
}
