.symbol {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	font-family: var(--avatar-font-family);
	font-weight: var(--avatar-font-weight);
	color: var(--avatar-color-text);
}
.symbol__small {
	font-size: var(--avatar-symbol-small);
}
.symbol__medium {
	font-size: var(--avatar-symbol-medium);
}
.symbol__large {
	font-size: var(--avatar-symbol-large);
}
.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--avatar-color-wrapper);
	box-sizing: border-box;
	border-radius: 50%;
	z-index: 5;
}
.wrapper__small {
	width: var(--avatar-size-wrapper-small);
	height: var(--avatar-size-wrapper-small);
}
.wrapper__medium {
	width: var(--avatar-size-wrapper-medium);
	height: var(--avatar-size-wrapper-medium);
}
.wrapper__large {
	width: var(--avatar-size-wrapper-large);
	height: var(--avatar-size-wrapper-large);
}
.image {
	border-radius: 50%;
	overflow: hidden;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 5;
}
.image__small {
	max-width: var(--avatar-size-small);
	max-height: var(--avatar-size-small);
}
.image__medium {
	max-width: var(--avatar-size-medium);
	max-height: var(--avatar-size-medium);
}
.image__large {
	max-width: var(--avatar-size-large);
	max-height: var(--avatar-size-large);
}
.checkOnline {
	position: absolute;
	border-radius: 50%;
	background-color: var(--avatar-color-check-online-background);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}
.checkOnline::before {
	content: '';
	display: block;
	border-radius: 50%;
	background-color: var(--avatar-color-check-online);
	z-index: 15;
}
.checkOnline__small {
	width: var(--avatar-check-online-background-small);
	height: var(--avatar-check-online-background-small);
	bottom: 4px;
	right: 4px;
}
.checkOnline__small::before {
	width: var(--avatar-check-online-small);
	height: var(--avatar-check-online-small);
}
.checkOnline__medium {
	width: var(--avatar-check-online-background-medium);
	height: var(--avatar-check-online-background-medium);
	bottom: 6px;
	right: 10px;
}
.checkOnline__medium::before {
	width: var(--avatar-check-online-medium);
	height: var(--avatar-check-online-medium);
}
.checkOnline__large {
	width: var(--avatar-check-online-background-large);
	height: var(--avatar-check-online-background-large);
	bottom: 12px;
	right: 28px;
}
.checkOnline__large::before {
	width: var(--avatar-check-online-large);
	height: var(--avatar-check-online-large);
}
.group {
	display: flex;
}
.group:first-child {
	margin-left: 0;
}
.group > * {
	margin-left: -18px;
}
.add {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--avatar-color-add);
	border-radius: 50%;
}
.add__icon {
	fill: var(--avatar-color-wrapper);
}
